@import 'tailwindcss';
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/cerberus";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

/* Flowbite plugins */
@plugin "flowbite/plugin";

/* Dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Sources */
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

@layer base {
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

html, body {
  height: 100%;
  background-color: #0f172a;
}